.card-stats{
	h4{
		font-weight: 400;
	}
	.card-footer {
		.badge{
			float: right;
			margin-top: 2px;
		}
	}
}

.card-filter{
	padding: 15px 0;
}

.card-countdown{
	.card-header{
		h3{
			color: #3C4858;
			letter-spacing: 8px;
		    font-size: 32px;
		    text-align: center;
		    font-weight: 100;
		    margin: 0;
		}
	}
	.card-content{
		text-align: center;
		h4{
			color: #666;
		}
	}
}