.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.open>.btn.btn-primary.dropdown-toggle,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-primary,
.navbar .navbar-nav>li>a.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary.active,
.navbar .navbar-nav>li>a.btn.btn-primary:active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active:hover,
.navbar .navbar-nav>li>a.btn.btn-primary.active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover {
	background-color: $brandColorPri;
	color: #fff;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary:hover {
	box-shadow: 0 14px 26px -12px rgba(238, 34, 41, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(238, 34, 41, 0.2);
}

.btn.btn-secondary,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary.active,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.open>.btn.btn-secondary.dropdown-toggle,
.open>.btn.btn-secondary.dropdown-toggle:focus,
.open>.btn.btn-secondary.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-secondary,
.navbar .navbar-nav>li>a.btn.btn-secondary:hover,
.navbar .navbar-nav>li>a.btn.btn-secondary:focus,
.navbar .navbar-nav>li>a.btn.btn-secondary:active,
.navbar .navbar-nav>li>a.btn.btn-secondary.active,
.navbar .navbar-nav>li>a.btn.btn-secondary:active:focus,
.navbar .navbar-nav>li>a.btn.btn-secondary:active:hover,
.navbar .navbar-nav>li>a.btn.btn-secondary.active:focus,
.navbar .navbar-nav>li>a.btn.btn-secondary.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-secondary.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-secondary.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-secondary.dropdown-toggle:hover {
	background-color: $brandColorSec;
	color: #fff;
}

.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:hover,
.navbar .navbar-nav>li>a.btn.btn-secondary:focus,
.navbar .navbar-nav>li>a.btn.btn-secondary:active,
.navbar .navbar-nav>li>a.btn.btn-secondary:hover {
	box-shadow: 0 14px 26px -12px rgba(31, 31, 46, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(31, 31, 46, 0.2);
}

.btn.btn-outline-secondary,
.btn.btn-outline-secondary.active,
.open>.btn.btn-outline-secondary.dropdown-toggle,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary.active,
.open>.navbar .navbar-nav>li>a.btn.btn-outline-secondary.dropdown-toggle{
	color: $brandColorSec;
	background-color: transparent;
	background-image: none;
	border: 1px solid $brandColorSec;
}

.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:focus,
.btn.btn-outline-secondary:active,
.btn.btn-outline-secondary:active:focus,
.btn.btn-outline-secondary:active:hover,
.btn.btn-outline-secondary.active:focus,
.btn.btn-outline-secondary.active:hover,
.open>.btn.btn-outline-secondary.dropdown-toggle:focus,
.open>.btn.btn-outline-secondary.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary:hover,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary:focus,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary:active,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary:active:focus,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary:active:hover,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary.active:focus,
.navbar .navbar-nav>li>a.btn.btn-outline-secondary.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-outline-secondary.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-outline-secondary.dropdown-toggle:hover {
	background-color: $brandColorSec;
	color: #fff;
}

.btn.btn-outline,
.btn.btn-outline.active,
.open>.btn.btn-outline.dropdown-toggle,
.navbar .navbar-nav>li>a.btn.btn-outline,
.navbar .navbar-nav>li>a.btn.btn-outline.active,
.open>.navbar .navbar-nav>li>a.btn.btn-outline.dropdown-toggle{
	color: #999999;
	background-color: transparent;
	background-image: none;
	border: 1px solid #999999;
}

.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline:active:focus,
.btn.btn-outline:active:hover,
.btn.btn-outline.active:focus,
.btn.btn-outline.active:hover,
.open>.btn.btn-outline.dropdown-toggle:focus,
.open>.btn.btn-outline.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-outline:hover,
.navbar .navbar-nav>li>a.btn.btn-outline:focus,
.navbar .navbar-nav>li>a.btn.btn-outline:active,
.navbar .navbar-nav>li>a.btn.btn-outline:active:focus,
.navbar .navbar-nav>li>a.btn.btn-outline:active:hover,
.navbar .navbar-nav>li>a.btn.btn-outline.active:focus,
.navbar .navbar-nav>li>a.btn.btn-outline.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-outline.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-outline.dropdown-toggle:hover {
	background-color: #999999;
	color: #fff;
}