.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: $brandColorPri;
}

[section="wallet-panel"]{
	&:before{
		content: "";
		background: rgba(255, 255, 255, 0.95);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 15px;
	}
	.nav{
		>li{
			>a{
				color: #aaa;
			}
			i.material-icons[icon="img"]{
				>img{
					filter: grayscale(100%);
					opacity: 0.4;
				}
			}
		}
		>li.active{
			>a{
				color: #fff;
			}
			i.material-icons[icon="img"]{
				>img{
					filter: none;
					opacity: 1;
				}
			}
		}
	}
}
	
.user-wallet{
	margin-right: 30px;
	.left{
		display: table-cell;
		vertical-align: top;
		padding-right: 10px;
	}
	.right{
		display: table-cell;
		vertical-align: top;
		padding-top: 10px;
		overflow: hidden;
		color: inherit;
		zoom: 1;
		.content{
			font-size: 20px;
			font-weight: bolder;
		}
	}
}