@media (max-width: 1280px) {
    [section="binary-tree"] {
        .binary {
            width: 100px;
        }
        .col-md-6,
        .col-md-12 {
            padding: 0;
        }
    }
}

@media (max-width: 1280px) and (min-width: 991px) {
    [section="buy-package"] {
        .icon.active+.card-description+.card-action {
            .amount {
                display: block;
                width: calc(100% - 30px);
                margin: 0 15px;
            }
        }
    }
}

@media all and (max-width: 1080px) and (min-width: 1024px) {
    .countdown {
        .time {
            width: 50px;
        }
    }
}

@media (max-width: 991px) {
    .navbar-stuck {
        width: 100%;
    }
    [section="dashboard-status"],
    [section="create-an-order"] {
        display: block!important;
    }
    [section="binary-tree"] {
        .binary {
            width: 90px;
            .binary-content {
                padding: 5px 2px;
            }
        }
    }
    .register-page {
        .card-signup {
            .d-flex:first-child {
                display: block!important;
            }
            [sign-up-step] {
                margin: 0 0 60px;
                padding: 0;
                display: -webkit-box!important;
                display: -webkit-flex!important;
                display: -ms-flexbox!important;
                display: flex!important;
                -webkit-box-pack: center!important;
                -webkit-justify-content: center!important;
                -ms-flex-pack: center!important;
                justify-content: center!important;
                &:before {
                    display: table;
                    content: " ";
                }
                &:after {
                    content: " ";
                    display: block;
                    clear: both;
                }
                .info-horizontal {
                    padding-right: 10%;
                    margin: 0;
                    position: relative;
                    float: left;
                    &:before {
                        content: none;
                    }
                    &:after {
                        content: none;
                    }
                    .icon {
                        margin: 20px;
                        position: static;
                        float: none;
                        &:before {
                            top: 44px;
                            width: 69.9%;
                            left: 43%;
                            height: 2px;
                        }
                    }
                    .icon.end {
                        &:before {
                            width: 0;
                        }
                    }
                    .description {
                        text-align: center;
                        .info-title {
                            margin: 0;
                        }
                    }
                }
                .info-horizontal:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-wallet {
        >li {
            >a {
                display: inline-block;
                >.icon {
                    float: left;
                }
                >.content {
                    width: 100%;
                }
            }
        }
    }
    .navbar-wallet:last-child {
        position: absolute;
        left: 0;
        right: 0;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ededf3;
        margin: -8px 0px;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .navbar-stuck .navbar-wallet:last-child {
        display: none!important;
    }
    [user-wallet] {
        display: block!important;
    }
    [section="wallet-panel"] {
        .nav {
            max-width: none;
        }
    }
    [section="binary-tree"] {
        padding-top: 50px;
        display: none;
    }
    [section="binary-tree-mobile"] {
        display: block;
    }
    .table-scroll-y {
        max-height: 300px;
        overflow: auto;
        tbody {
            display: table-row-group;
            height: auto;
            overflow: auto;
        }
        tr {
            display: table-row;
        }
        thead,
        tbody tr {
            width: -webkit-fill-available;
            table-layout: fixed;
            /* even columns width , fix width of table too*/
        }
        thead {
            width: calc( 100% - 1em)/* scrollbar is average 1em/16px width, remove it from thead width */
        }
    }
    .card-generational {
        .generational {
            .left {
                border-right: none;
                margin-bottom: 40px;
            }
        }
    }
}


@media (max-width: 480px) {
    [section="wallet-panel"] {
        .nav {
            >li {
                >a {
                    width: 100px;
                }
            }
        }
    }
    [section="binary-tree-mobile"] {
        margin-top: 30px;
        ul.nav {
            >li {
                .binary+span {
                    right: 15%;
                }
            }
        }
    }
}

// Responsive for IPhone 6 Plus
@media (max-width: 414px) {
    .main-panel>.content {
        margin-top: 100px;
    }
    .navbar-wallet>li>a>.content {
        // margin-left: 0px;
    }
    .table-scroll-y thead {
        display: unset;
    }
    .register-page {
        .card-signup {
            [sign-up-step] {
                .info-horizontal {
                    padding-right: 9%;
                    .icon {
                        &:before {
                            width: 61.9%;
                            left: 56%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 413px) {
    .navbar-wallet>li>a>.icon {
        display: none;
    }
    .navbar-wallet:last-child {
        font-size: 11px;
    }
    [wallet-deposit] {
        display: block!important;
    }
}

@media (max-width: 360px) {
    .register-page {
        .card-signup {
            [sign-up-step] {
                .info-horizontal {
                    .icon {
                        &:before {
                            width: 60.9%;
                            left: 58%;
                        }
                    }
                }
            }
        }
    }
}

// Responsive for IPhone 5
@media (max-width: 320px) {
    .navbar-wallet>li>a {
        padding: 5px;
    }
    [section="wallet-panel"] {
        .nav {
            >li {
                >a {
                    width: 80px;
                    min-width: 100%;
                    padding: 0px 8px;
                }
            }
        }
    }
    [section="binary-tree-mobile"] {
        ul.nav {
            >li {
                .binary+span {
                    right: 10%;
                }
            }
        }
    }
    .register-page {
        .card-signup {
            [sign-up-step] {
                .info-horizontal {
                    padding-right: 4%;
                    .icon {
                        &:before {
                            width: 53.9%;
                            left: 69%;
                        }
                    }
                }
            }
        }
    }
}